<label for="location-search">Search for a new place </label> 
<!-- #search: referencia à entrada de dados do input (capturar o que foi digitado, dá acesso a propriedade .value) -->
<input id="location-search" #search placeholder="Ex: Chicago">
<!-- Definir o método no arquivo ts. search.value transmite o valor como parametro para o método -->
<button (click)="searchHousingLocations(search.value)">Search</button>
<!-- *ngFor. Assim, você poderá exibir as entradas da matriz no navegador -->
<!-- O ngFor repete um elemento de artigo para cada entrada da matriz de locationList. Em seguida, você exibirá valores da variável de local. -->
<article *ngFor="let location of results">
    <p>{{ location.name }}</p>
    <button (click)="selectHousingLocation(location)">View</button>
</article>

<!--
    Os dados são compartilhados do componente do app com o componente da lista de habitação, e estamos iterando cada um desses valores para exibi-los no navegador.
    Abordamos algumas maneiras de compartilhar dados entre componentes e usamos uma nova sintaxe de modelos e a diretiva ngFor.
-->